{% extends 'fronted/base.html' %}
{% load static %}
{% block content %}
<a href="#" class="bigrek"></a>
<div class="container wrapper">
	<div class="longrek"></div>
	<div class="l_news">
		<div class="title">Актуальные</div>
		<div class="l_news_box">
			<div id="littlenews" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<a href="#">Nulla consequat massa quis enim. Donec pede justo, fringilla vel</a>
					</div>
					<div class="item">
						<a href="#">111 Nulla consequat massa quis enim. Donec pede justo, fringilla vel</a>
					</div>
				</div>

				<a class="left carousel-control" href="#littlenews" role="button" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="right carousel-control" href="#littlenews" role="button" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="fav_news">
		<div class="big_fav">
			<div id="bigfav" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="{% static 'img/news2.jpg' %}" alt="...">
							<a href="#">
								<div class="carousel-caption">
									<div class="caption_pos">
										<div class="type_news">ПОЛИТИКА</div>
										<div class="title">УЗБЕКИСТАН ПОВЫСИТ ЭФФЕКТИВНОСТЬ МЕР ПО СОЦИАЛЬНОЙ ЗАЩИТЕ ВОЕННОСЛУЖАЩИХ</div>
										<span class="date">13.01.2017</span>
										<span class="com_count"><span class="fa fa-comments"></span> 125 </span>
									</div>
								</div>
							</a>
					</div>

				</div>
				<div class="control">
				<a class="left carousel-control" href="#bigfav" role="button" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="right carousel-control" href="#bigfav" role="button" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
				</div>
			</div>
		</div>
		<div class="list_fav">
			<div class="title"><b>Актульные</b> новости</div>
			<ul>
				{% for actual in actuals %}
				{% if forloop.counter0 < 3 %}
				<li>
					<a href="{% url 'view' news_id=actual.id %}">
						<div class="list_fimg">
							<img src="/media/{{actual.image}}" alt="">
						</div>
						<span class="list_type">{{actual.category.name}}</span>
						<span class="list_title">{{actual.title}}</span>
						<span class="date">{{actual.created_at}}</span>
					</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
			<a href="#" class="more">больше актуальные новости</a>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="head_title">популярные новости</div>
	<div class="popular">
		<div class="row">
			{% for popular in populars %}
			<div class="col-md-3 col-xs-12">
				<div class="p_img"><img src="/media/{{popular.image}}" alt=""></div>
				<a href="{% url 'view' news_id=popular.id %}">{{popular.title}}</a>
				<span class="date">{{popular.created_at}}</span>
				<span class="p_type"><i class="fa fa-pencil"></i> {{popular.author.full_name}}</span>
			</div>
			{% endfor %}
		</div>
	</div>
	<a href="#" class="big_more">больше новости</a>
	<div class="rek1"></div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-xs-12">
			<div class="head_title">ПРОИСШЕСТВИЯ</div>
			<div class="news_box">
				<div class="row">
					<div class="col-md-6 col-xs-12">
						{% for fresh in fresh_news %}
						{% if forloop.counter0 < 2 %}
						<div class="big_news">
							<div class="big_n_img"><img src="/media/{{fresh.image}}" alt=""></div>
							<a href="#">{{fresh.title}}</a>
							<span class="date">{{fresh.created_at}}</span>
							<span class="news_type"><i class="fa fa-pencil"></i> {{fresh.author.full_name}}</span>
							<div class="desc">{{fresh.description}}</div>
						</div>
						{% endif%}
						{% endfor%}
					</div>
					<div class="col-md-6 col-xs-12">
						<ul class="list_news">
							{% for actual in actuals %}
							{% if forloop.counter0 < 4 %}
							<li>
								<div class="list_img"><img src="/media/{{actual.image}}" alt=""></div>
								<a href="#">{{actual.title}}</a>
								<span class="date">{{actual.created_at}}</span>
								<span class="news_type"><i class="fa fa-pencil"></i> {{actual.author.full_name}}</span>
						</ul>
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<a href="#" class="big_more">больше новости</a>
			<div class="head_title">ПОЛИТИКА</div>
			<div class="news_box">
				<div class="row">
					{% for policy in policies %}
					{% if forloop.counter0 < 2%}
					<div class="col-md-6 col-xs-12">
						<div class="big_news">
							<div class="big_n_img"><img src="/media/{{policy.image}}" alt=""></div>
							<a href="#">{{policy.title}}</a>
							<span class="date">{{policy.created_at}}</span>
							<span class="news_type"><i class="fa fa-pencil"></i> {{policy.author.full_name}}</span>
							<div class="desc">{{policy.description}}</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}

				</div>
			</div>
			<div class="news_box">
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<ul class="list_news">
							{% for policy in policies %}
							<li>
								<div class="list_img"><img src="/media/{{policy.image}}" alt=""></div>
								<a href="{% url 'view' news_id=policy.id %}">{{policy.title}}</a>
								<span class="date">{{policy.created_at}}</span>
								<span class="news_type"><i class="fa fa-pencil"></i> {{policy.author.full_name}}</span>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="col-md-6 col-xs-12">
						<ul class="list_news">
							{% for actual in actuals %}
							<li>
								<div class="list_img"><img src="/media/{{actual.image}}" alt=""></div>
								<a href="{% url 'view' news_id=actual.id %}">{{actual.title}}</a>
								<span class="date">{{actual.created_at}}</span>
								<span class="news_type"><i class="fa fa-pencil"></i> {{actual.author.full_name}}</span>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<a href="#" class="big_more">больше новости</a>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="head_title">Свежие новости</div>
			<div id="listnews" class="carousel slide listnews" data-ride="carousel">
				<div class="news_box">
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<ul class="list_news">
								{% for fresh in fresh_news %}
								<li>
									<div class="list_img"><img src="/media/{{fresh.image}}" alt=""></div>
									<a href="{% url 'view' news_id=fresh.id %}">{{fresh.title}}</a>
									<span class="date">{{fresh.created_at}}</span>
									<span class="news_type"><i class="fa fa-pencil"></i> {{fresh.author.full_name}}</span>
								</li>
								{% endfor %}
							</ul>
						</div>
						<div class="item">
							<ul class="list_news">
								{% for fresh in fresh_news %}
								<li>
									<div class="list_img"><img src="/media/{{fresh.image}}" alt=""></div>
									<a href="{% url 'view' news_id=fresh.id %}">{{fresh.title}}</a>
									<span class="date">{{fresh.created_at}}</span>
									<span class="news_type"><i class="fa fa-pencil"></i> {{fresh.author.full_name}}</span>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div class="indi_box">
					<ol class="carousel-indicators">
						<li data-target="#listnews" data-slide-to="0" class="active"></li>
						<li data-target="#listnews" data-slide-to="1"></li>
					</ol>
				</div>
			</div>

			<div class="head_title colum">Колумнисты</div>

				<div class="news_box colums">

							<ul class="list_news">
								{% for author in authors %}
								<li>
									<div class="list_img"><img src="/media/{{author.image}}" alt=""></div>
									<a href="#">{{author.full_name}}</a>
									<div class="col_type">{{author.description}}</div>
								</li>
								{% endfor %}
							</ul>

				</div>


			<div class="news_box rek">
				<div class="rek_right">

				</div>
			</div>
			<div class="subscribe">
				<div class="title">Подписывайся на <b>1news.uz</b></div>
				<form action="">
					<div class="input-group">
						<input type="text" name="email" placeholder="Email">
						<button class="submit">Подписываться</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
<div class="culture">
	<div class="container">
		<div class="title">КУЛЬТУРА</div>
		<div id="culture" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#culture" data-slide-to="0" class="active"></li>
				<li data-target="#culture" data-slide-to="1"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					{% for culture in cultures %}
					{% if forloop.counter0 < 1 %}
					<div class="big_cult">
						<img src="/media/{{culture.image}}" alt="">
						<a href="{% url 'view' news_id=culture.id %}">
							<div class="caption">{{culture.title}}</div>
						</a>
					</div>
					{% endif %}
					{% endfor %}
					{% for culture in cultures %}
					{% if forloop.counter > 1 %}
					<div class="little_cult">
					  <img src="/media/{{culture.image}}" alt="">
					  <a href="{% url 'view' news_id=culture.id %}">
						<div class="caption">{{culture.title}}</div>
					  </a>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		<a href="#" class="more">больше новости</a>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-xs-12">
			<div class="head_title">ОБЩЕСТВО</div>
			<div class="news_box">
				<div class="row">
					{% for a in al %}
					{% if forloop.counter0 < 2 %}
					<div class="col-md-6 col-xs-12">
						<div class="big_news">
							<div class="big_n_img"><img src="/media/{{a.image}}" alt=""></div>
							<a href="{% url 'view' news_id=a.id %}">{{a.title}}</a>
							<span class="date">{{a.created_at}}</span>
							<span class="news_type"><i class="fa fa-pencil"></i> {{a.author.full_name}}</span>
							<div class="desc">{{a.description}}</div>
						</div>
					</div>
					{% endif  %}
					{% endfor %}

				</div>
			</div>
			<div class="news_box">
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<ul class="list_news">
							{% for sum in sums %}
							{% if forloop.counter0 < 6 %}
							<li>
								<div class="list_img"><img src="/media/{{sum.image}}" alt=""></div>
								<a href="{% url 'view' news_id=sum.id %}">{{sum.title}}</a>
								<span class="date">{{sum.created_at}}</span>
								<span class="news_type"><i class="fa fa-pencil"></i> {{sum.author.full_name}}</span>
							</li>
							{% endif %}
							{% endfor %}
						</ul>
					</div>
					<div class="col-md-6 col-xs-12">
						<ul class="list_news">
							{% for sum in sums %}
							{% if forloop.counter > 6 %}
							<li>
								<div class="list_img"><img src="/media/{{sum.image}}" alt=""></div>
								<a href="{% url 'view' news_id=sum.id %}">{{sum.title}}</a>
								<span class="date">{{sum.created_at}}</span>
								<span class="news_type"><i class="fa fa-pencil"></i> {{sum.author.full_name}}</span>
							</li>
							{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<a href="#" class="big_more">больше новости</a>
			<div class="head_title">В мире</div>
			<div class="news_box">
				<div class="row">
					<div class="col-md-6 col-xs-12">
						{% for world in worlds %}
						{% if forloop.counter0 < 2%}
						<div class="big_news">
							<div class="big_n_img"><img src="/media/{{world.image}}" alt=""></div>
							<a href="{% url 'view' news_id=world.id %}">{{world.title}}</a>
							<span class="date">{{world.created_at}}</span>
							<span class="news_type"><i class="fa fa-pencil"></i> {{world.author.full_name}}</span>
							<div class="desc">{{world.descriptions}}</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="news_box">
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<ul class="list_news">
							{% for sum in sums %}
							{% if forloop.counter0 < 6 %}
							<li>
								<div class="list_img"><img src="/media/{{sum.image}}" alt=""></div>
								<a href="{% url 'view' news_id=sum.id %}">{{sum.title}}</a>
								<span class="date">{{sum.created_at}}</span>
								<span class="news_type"><i class="fa fa-pencil"></i> {{sum.author.full_name}}</span>
							</li>
							{% endif %}
							{% endfor %}
						</ul>
					</div>
					<div class="col-md-6 col-xs-12">
						<ul class="list_news">
							{% for sum in sums %}
							{% if forloop.counter > 6 and forloop.counter < 13 %}
							<li>
								<div class="list_img"><img src="/media/{{sum.image}}" alt=""></div>
								<a href="{% url 'view' news_id=sum.id %}">{{sum.title}}</a>
								<span class="date">{{sum.created_at}}</span>
								<span class="news_type"><i class="fa fa-pencil"></i> {{sum.author.full_name}}</span>
							</li>
							{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<a href="#" class="big_more">больше новости</a>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="head_title">ТЕХНОЛОГИИ</div>
			<div id="technews" class="carousel slide listnews technonews" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						{% for fresh in fresh_news %}
						<div class="item active">
							<div class="full_img">
								<img src="/media/{{fresh.image}}" alt="">
							</div>
							<div class="news_box">
									<a href="#">{{fresh.title}}</a>
									<p>{{fresh.description}}</p>
							</div>
						</div>
						{% endfor %}
					<div class="indi_box">
						<ol class="carousel-indicators">
							<li data-target="#technews" data-slide-to="0" class="active"></li>
							<li data-target="#technews" data-slide-to="1"></li>
						</ol>
					</div>
			</div>
			<div class="head_title">ЭКОНОМИКА</div>
			<div id="econews" class="carousel slide listnews" data-ride="carousel">
				<div class="news_box">
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<ul class="list_news">
								{% for sport in economics %}
								{% if forloop.counter0 < 3 %}
								<li>
									<div class="list_img"><img src="/media/{{sport.image}}" alt=""></div>
									<a href="{% url 'view' news_id=sport.id %}">{{sport.title}}</a>
									<span class="date">{{sport.created_at}}</span>
									<span class="news_type"><i class="fa fa-pencil"></i> {{sport.author.full_name}}</span>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
						</div>
						<div class="item">
							<ul class="list_news">
							    {% for sport in economics %}
								{% if forloop.counter > 3 and forloop.counter < 6%}
								<li>
									<div class="list_img"><img src="/media/{{sport.image}}" alt=""></div>
									<a href="{% url 'view' news_id=sport.id %}">{{sport.title}}</a>
									<span class="date">{{sport.created_at}}</span>
									<span class="news_type"><i class="fa fa-pencil"></i> {{sport.author.full_name}}</span>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div class="indi_box">
					<ol class="carousel-indicators">
						<li data-target="#econews" data-slide-to="0" class="active"></li>
						<li data-target="#econews" data-slide-to="1"></li>
					</ol>
				</div>
			</div>
			<div class="head_title photo_news">НОВОСТИ В ФОТО</div>
			<div id="technews" class="carousel slide listnews" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<div class="full_img">
								<img src="{% static 'img/news3.jpg' %}" alt="">
							</div>
							<div class="news_box">
									<a href="#">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</a>
							</div>
					</div>
					<div class="item">
						<div class="full_img">
							<img src="{% static 'img/news3.jpg' %}" alt="">
						</div>
						<div class="news_box">
								<a href="#">D2onec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</a>
						</div>
					</div>
				</div>
				<div class="indi_box">
					<ol class="carousel-indicators">
						<li data-target="#technews" data-slide-to="0" class="active"></li>
						<li data-target="#technews" data-slide-to="1"></li>
					</ol>
				</div>
			</div>
			<div class="head_title sport">СПОРТ</div>
			<div id="econews" class="carousel slide listnews" data-ride="carousel">
				<div class="news_box">
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<ul class="list_news">
								{% for sport in sports %}
								{% if forloop.counter0 < 5 %}
								<li>
									<div class="list_img"><img src="/media/{{sport.image}}" alt=""></div>
									<a href="{% url 'view' news_id=sport.id %}">{{sport.title}}</a>
									<span class="date">{{sport.created_at}}</span>
									<span class="news_type"><i class="fa fa-pencil"></i> {{sport.author.full_name}}</span>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
						</div>
						<div class="item">
							<ul class="list_news">
								{% for sport in sports %}
								{% if forloop.counter > 5 and forloop.cointer < 11%}
								<li>
									<div class="list_img"><img src="/media/{{sport.image}}" alt=""></div>
									<a href="{% url 'view' news_id=sport.id %}">{{sport.title}}</a>
									<span class="date">{{sport.created_at}}</span>
									<span class="news_type"><i class="fa fa-pencil"></i> {{sport.author.full_name}}</span>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div class="indi_box">
					<ol class="carousel-indicators">
						<li data-target="#econews" data-slide-to="0" class="active"></li>
						<li data-target="#econews" data-slide-to="1"></li>
					</ol>
				</div>
			</div>
			<div class="head_title weather">Погода</div>
			<div class="news_box"></div>
		</div>
	</div>
	<div class="foot_rek">
		<img src="img/foootrek.jpg" alt="">
	</div>
</div>

{% endblock %}