{% load static %}
<div class="topheader">
	<div class="container">
		<ul class="menu">
			<li><a href="#">о нас</a></li>
			<li><a href="#">редакционная</a></li>
			<li><a href="#">политика</a></li>
			<li><a href="#">контакты</a></li>
		</ul>
		<ul class="kurs">
			<li>1 USD = 3243.89</li>
			<li>1 EUR = 3419.18</li>
			<li>1 RUB = 53.48</li>
		</ul>
		<ul class="lang">

			<li class="active"><a href="#">Ру</a></li>
			<li><a href="">O'z</a></li>
			<li><a href="">Уз</a></li>
		</ul>
		<ul class="social">
			<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
			<li><a href="#"><span class="fa fa-twitter"></span></a></li>
			<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
			<li><a href="#"><span class="fa fa-telegram"></span></a></li>
			<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
			<li><a href="#"><span class="fa fa-rss"></span></a></li>
		</ul>
	</div>
</div>
<nav class="navbar">
<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><img src="{% static 'fronted/img/logo.png' %}" alt=""></a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<i class="fa fa-close"></i>
			</button>
			<ul class="nav navbar-nav">
				{% if categories %}
					{% for category in categories %}
						{% url 'category' category_id=category.id as category_url %}
				<li class="{% if request.get_full_path == category_url %}active{% endif %}"><a href="{{ category_url }}">{{ category.name }}</a></li>
					{% endfor %}
				{% endif %}
			</ul>
			<button type="button" class="btn navbar-right search_btn hidden-xs"><i class="fa fa-search"></i></button>
			<form action="{% url 'search' %}" method="get" id="search" class="navbar-form navbar-right search_btn_box hidden-xs">
				<button class="btn btn-default" type="button">
				  <span><i class="fa fa-search"></i></span></button>
				<div class="input-group">
				  <input type="text" name="search" id="searchName" class="form-control" placeholder="Поиск..." required="">
				</div>
				<button type="submit" class="btn  search_btn_close hidden-xs active"><i class="fa fa-close"></i></button>
			  </form>
		</div>
	</div>
</nav>