{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>News List</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item active">News List</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <div class="card card-primary">

              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label >News name</label>
                      {{form.title}}
                  </div>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label >News Description</label>
                      {{form.description}}
                  </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                      <label >News Image</label>
                      {{ form.image }}
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                      <label >News Category</label>
                      {{ form.category }}
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                      <label >News Author</label>
                      {{ form.author }}
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                      <label >News Views</label>
                      {{ form.views }}
                    </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</section>
{% endblock %}